# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Virtual environments
venv/
env/
ENV/
.venv/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
